$base-font-size: 12px !default;
$base-font-family: Arial, sans-serif !default;
$base-border-radius: 3px !default;

$color-inverse: #2b3335 !default;
$color-warning: #e8b71a !default;
$color-success: #1fda9a !default;
$color-primary: #28abe3 !default;
$color-danger: #db3340 !default;
$color-light: #f5f5f5 !default;
